# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# Temporary Office Lock files
~$*.xlsm
~$*.xlsx
~$*.docx

# Python cache & virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/

# Scratch & Temporary Data
scratch/
.idea/
.vscode/
